USE [master]
GO
/****** Object:  Database [DbQuanLyResort]    Script Date: 23/05/2025 8:41:18 CH ******/
CREATE DATABASE [DbQuanLyResort]
 CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'DbQuanLyResort', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LISM\MSSQL\DATA\DbQuanLyResort.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'DbQuanLyResort_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LISM\MSSQL\DATA\DbQuanLyResort_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbQuanLyResort].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbQuanLyResort]
GO
/****** Object:  Table [dbo].[ChiTiecDatTiec]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiecDatTiec](
	[maCTDT] [varchar](14) NOT NULL,
	[maDT] [varchar](12) NOT NULL,
	[maCB] [varchar](7) NULL,
	[maMA] [varchar](7) NULL,
	[soLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietCombo]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCombo](
	[maCTCB] [varchar](7) NOT NULL,
	[maCB] [varchar](7) NULL,
	[maMA] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatDichVu]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatDichVu](
	[maCTDDV] [varchar](12) NOT NULL,
	[maDT] [varchar](12) NOT NULL,
	[maDV] [varchar](5) NOT NULL,
	[soLuong] [int] NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatPhong]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatPhong](
	[maDP] [varchar](12) NOT NULL,
	[maCTDP] [varchar](13) NOT NULL,
	[maLH] [varchar](10) NULL,
	[ngayTraPhong] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [varchar](5) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboMonAn]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboMonAn](
	[maCB] [varchar](7) NOT NULL,
	[tenCB] [nvarchar](150) NOT NULL,
	[giaCB] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaNhanSu] [varchar](8) NULL,
	[maDP] [varchar](12) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[ngayDatPhong] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatTiec]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatTiec](
	[MaNhanSu] [varchar](8) NULL,
	[maDT] [varchar](12) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[ngayDT] [date] NOT NULL,
	[maS] [varchar](5) NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NULL,
	[tongTien] [float] NOT NULL,
	[giaTriDC] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDV] [varchar](5) NOT NULL,
	[tenDV] [nvarchar](45) NOT NULL,
	[giaTien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDatPhong]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDatPhong](
	[MaNhanSu] [varchar](8) NULL,
	[maHDDP] [varchar](10) NOT NULL,
	[maCTDP] [varchar](13) NOT NULL,
	[maSDDV] [varchar](8) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[tongTien] [float] NOT NULL,
	[trangThai] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHDDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDatTiec]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDatTiec](
	[MaNhanSu] [varchar](8) NULL,
	[maHDDT] [varchar](12) NOT NULL,
	[maDT] [varchar](12) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[tongTien] [float] NOT NULL,
	[trangThai] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[SoDT] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](20) NOT NULL,
	[Diachi] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[CCCD] [nvarchar](12) NOT NULL,
	[QuocTich] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHinhLuuTru]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHinhLuuTru](
	[maLH] [varchar](10) NOT NULL,
	[tenLH] [varchar](5) NOT NULL,
	[loaiHinh] [nvarchar](45) NOT NULL,
	[slNguoi] [int] NOT NULL,
	[giaTien] [float] NOT NULL,
	[trangThai] [nvarchar](45) NOT NULL,
	[ghiChu] [nvarchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[maLMA] [varchar](7) NOT NULL,
	[tenLMA] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[maMA] [varchar](7) NOT NULL,
	[maLMA] [varchar](7) NOT NULL,
	[tenMA] [nvarchar](45) NOT NULL,
	[giaTien] [float] NOT NULL,
	[mieuTa] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanSu]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanSu](
	[MaNhanSu] [varchar](8) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](15) NULL,
	[CCCD] [nvarchar](12) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [ntext] NULL,
	[MaChucVu] [varchar](5) NULL,
	[NgayVaoLam] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanhDatTiec]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanhDatTiec](
	[maS] [varchar](5) NOT NULL,
	[tenS] [nvarchar](45) NOT NULL,
	[giaSDT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungDichVu]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungDichVu](
	[maSDDV] [varchar](8) NOT NULL,
	[maDV] [varchar](5) NOT NULL,
	[maCTDP] [varchar](13) NOT NULL,
	[soLuong] [int] NOT NULL,
	[tongTien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/05/2025 8:41:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taikhoan] [varchar](10) NOT NULL,
	[matkhau] [varchar](10) NOT NULL,
	[MaNhanSu] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietCombo] ([maCTCB], [maCB], [maMA]) VALUES (N'CTCB001', N'CB00001', N'MAK01')
INSERT [dbo].[ChiTietCombo] ([maCTCB], [maCB], [maMA]) VALUES (N'CTCB002', N'CB00001', N'MAK05')
INSERT [dbo].[ChiTietCombo] ([maCTCB], [maCB], [maMA]) VALUES (N'CTCB003', N'CB00001', N'MAK09')
GO
INSERT [dbo].[ChiTietDatPhong] ([maDP], [maCTDP], [maLH], [ngayTraPhong]) VALUES (N'DP0505250001', N'CTDP050525001', N'THG0001', CAST(N'2025-05-06' AS Date))
INSERT [dbo].[ChiTietDatPhong] ([maDP], [maCTDP], [maLH], [ngayTraPhong]) VALUES (N'DP0505250001', N'CTDP050525002', N'THG0002', CAST(N'2025-05-07' AS Date))
INSERT [dbo].[ChiTietDatPhong] ([maDP], [maCTDP], [maLH], [ngayTraPhong]) VALUES (N'DP0505250002', N'CTDP050525003', N'THG0003', CAST(N'2025-05-06' AS Date))
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'CV001', N'Giám đốc điều hành')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'CV002', N'Giám đốc tài chính')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'CV003', N'Giám đốc nhân sự')
GO
INSERT [dbo].[ComboMonAn] ([maCB], [tenCB], [giaCB]) VALUES (N'CB00001', N'Buffet Sáng', 250000)
INSERT [dbo].[ComboMonAn] ([maCB], [tenCB], [giaCB]) VALUES (N'CB00002', N'Buffet T?i', 350000)
INSERT [dbo].[ComboMonAn] ([maCB], [tenCB], [giaCB]) VALUES (N'CB00003', N'Th?c don g?i món t?i phòng', 300000)
GO
INSERT [dbo].[DatPhong] ([MaNhanSu], [maDP], [MaKH], [ngayDatPhong]) VALUES (N'NV015', N'DP0505250001', N'KH0001', CAST(N'2025-05-05' AS Date))
INSERT [dbo].[DatPhong] ([MaNhanSu], [maDP], [MaKH], [ngayDatPhong]) VALUES (N'NV015', N'DP0505250002', N'KH0002', CAST(N'2025-05-05' AS Date))
INSERT [dbo].[DatPhong] ([MaNhanSu], [maDP], [MaKH], [ngayDatPhong]) VALUES (N'NV015', N'DP0505250003', N'KH0003', CAST(N'2025-05-05' AS Date))
GO
INSERT [dbo].[DatTiec] ([MaNhanSu], [maDT], [MaKH], [ngayDT], [maS], [ghiChu], [ngayBatDau], [ngayKetThuc], [tongTien], [giaTriDC]) VALUES (N'NV015', N'DT0505250001', N'KH0001', CAST(N'2025-05-05' AS Date), N'SANHA', NULL, CAST(N'2025-05-05' AS Date), CAST(N'2025-05-06' AS Date), 14000000, 2800000)
INSERT [dbo].[DatTiec] ([MaNhanSu], [maDT], [MaKH], [ngayDT], [maS], [ghiChu], [ngayBatDau], [ngayKetThuc], [tongTien], [giaTriDC]) VALUES (N'NV016', N'DT0505250002', N'KH0002', CAST(N'2025-05-05' AS Date), N'SANHA', NULL, CAST(N'2025-05-07' AS Date), CAST(N'2025-05-08' AS Date), 18000000, 3500000)
INSERT [dbo].[DatTiec] ([MaNhanSu], [maDT], [MaKH], [ngayDT], [maS], [ghiChu], [ngayBatDau], [ngayKetThuc], [tongTien], [giaTriDC]) VALUES (N'NV017', N'DT0505250003', N'KH0003', CAST(N'2025-05-06' AS Date), N'SANHB', NULL, CAST(N'2025-05-09' AS Date), CAST(N'2025-05-10' AS Date), 22000000, 4000000)
GO
INSERT [dbo].[DichVu] ([maDV], [tenDV], [giaTien]) VALUES (N'DV001', N'Dịch vụ spa', 700000)
INSERT [dbo].[DichVu] ([maDV], [tenDV], [giaTien]) VALUES (N'DV002', N'Thuê phòng Deluxe', 2000000)
INSERT [dbo].[DichVu] ([maDV], [tenDV], [giaTien]) VALUES (N'DV003', N'Chèo thuyền kayak', 300000)
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDT], [NgaySinh], [GioiTinh], [Diachi], [Email], [CCCD], [QuocTich]) VALUES (N'KH0001', N'Nguyễn Thị Mai', N'0123456789', CAST(N'1985-06-15' AS Date), N'Nữ', N'Hà Nội', N'mai.yen@email.com', N'123456789012', N'Việt Nam')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDT], [NgaySinh], [GioiTinh], [Diachi], [Email], [CCCD], [QuocTich]) VALUES (N'KH0002', N'Lê Minh Tú', N'0987654321', CAST(N'1990-08-20' AS Date), N'Nam', N'Hà Nội', N'tu.le@email.com', N'234567890123', N'Việt Nam')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDT], [NgaySinh], [GioiTinh], [Diachi], [Email], [CCCD], [QuocTich]) VALUES (N'KH0003', N'Phạm Lan Anh', N'0912345678', CAST(N'1988-04-05' AS Date), N'Nữ', N'Hà Nội', N'lan.anh@email.com', N'345678901234', N'Việt Nam')
GO
INSERT [dbo].[LoaiHinhLuuTru] ([maLH], [tenLH], [loaiHinh], [slNguoi], [giaTien], [trangThai], [ghiChu]) VALUES (N'THG0001', N'A101', N'Phòng thường', 2, 3000000, N'Đã đặt', NULL)
INSERT [dbo].[LoaiHinhLuuTru] ([maLH], [tenLH], [loaiHinh], [slNguoi], [giaTien], [trangThai], [ghiChu]) VALUES (N'THG0002', N'A102', N'Phòng thường', 2, 3000000, N'Có người', NULL)
INSERT [dbo].[LoaiHinhLuuTru] ([maLH], [tenLH], [loaiHinh], [slNguoi], [giaTien], [trangThai], [ghiChu]) VALUES (N'THG0003', N'A103', N'Phòng thường', 2, 3000000, N'Đã đặt', NULL)
GO
INSERT [dbo].[LoaiMonAn] ([maLMA], [tenLMA]) VALUES (N'LMA01', N'Món Á')
INSERT [dbo].[LoaiMonAn] ([maLMA], [tenLMA]) VALUES (N'LMA02', N'Món Âu')
INSERT [dbo].[LoaiMonAn] ([maLMA], [tenLMA]) VALUES (N'LMA03', N'Món Nhật')
GO
INSERT [dbo].[MonAn] ([maMA], [maLMA], [tenMA], [giaTien], [mieuTa]) VALUES (N'MAC01', N'LMA01', N'Sườn Heo Nướng Mật Ong', 20000000, N'Sườn heo nướng mật ong, thấm đẫm hương vị ngọt ngào, ăn kèm cơm chiên.')
INSERT [dbo].[MonAn] ([maMA], [maLMA], [tenMA], [giaTien], [mieuTa]) VALUES (N'MAC02', N'LMA01', N'Cà Ri Gà Cà Chua', 18000000, N'Món cà ri gà với cà chua và gia vị đặc trưng, ăn kèm bánh mì hoặc cơm.')
INSERT [dbo].[MonAn] ([maMA], [maLMA], [tenMA], [giaTien], [mieuTa]) VALUES (N'MAC03', N'LMA01', N'Lẩu Tôm Hùm Tươi', 35000000, N'Lẩu tôm hùm tươi ngon, nước lẩu ngọt đậm đà từ xương và gia vị.')
GO
INSERT [dbo].[NhanSu] ([MaNhanSu], [HoTen], [GioiTinh], [NgaySinh], [SDT], [CCCD], [Email], [DiaChi], [MaChucVu], [NgayVaoLam]) VALUES (N'CEO', N'Đào Minh Trí', N'Nam', CAST(N'2025-02-06' AS Date), N'0011223344', N'667788990011', N'minhtri@gmail.com', N'21 Lê Văn Thịnh, Thủ Đức, TP HCM', N'CV001', NULL)
INSERT [dbo].[NhanSu] ([MaNhanSu], [HoTen], [GioiTinh], [NgaySinh], [SDT], [CCCD], [Email], [DiaChi], [MaChucVu], [NgayVaoLam]) VALUES (N'GD001', N'Nguyễn Minh Tuấn', N'Nam', CAST(N'1985-01-01' AS Date), N'0912345678', N'123456789012', N'minhtuan@gmail.com', N'12 Nguyễn Huệ, Quận 1, TP HCM', N'CV002', CAST(N'2024-04-06' AS Date))
INSERT [dbo].[NhanSu] ([MaNhanSu], [HoTen], [GioiTinh], [NgaySinh], [SDT], [CCCD], [Email], [DiaChi], [MaChucVu], [NgayVaoLam]) VALUES (N'GD002', N'Phạm Thanh Hương', N'Nữ', CAST(N'1990-03-10' AS Date), N'0934567890', N'223456789013', N'thanhhuong@gmail.com', N'22 Lê Quang Định, Bình Thạnh, TP HCM', N'CV003', CAST(N'2024-04-06' AS Date))
GO
INSERT [dbo].[SanhDatTiec] ([maS], [tenS], [giaSDT]) VALUES (N'SANHA', N'Sảnh A', 7000000)
INSERT [dbo].[SanhDatTiec] ([maS], [tenS], [giaSDT]) VALUES (N'SANHB', N'Sảnh B', 9000000)
INSERT [dbo].[SanhDatTiec] ([maS], [tenS], [giaSDT]) VALUES (N'SANHC', N'Sảnh C', 12000000)
GO
INSERT [dbo].[SuDungDichVu] ([maSDDV], [maDV], [maCTDP], [soLuong], [tongTien]) VALUES (N'SDDV001', N'DV017', N'CTDP050525001', 1, 350000)
INSERT [dbo].[SuDungDichVu] ([maSDDV], [maDV], [maCTDP], [soLuong], [tongTien]) VALUES (N'SDDV002', N'DV009', N'CTDP050525001', 1, 3000000)
INSERT [dbo].[SuDungDichVu] ([maSDDV], [maDV], [maCTDP], [soLuong], [tongTien]) VALUES (N'SDDV003', N'DV010', N'CTDP050525002', 1, 150000)
GO
INSERT [dbo].[TaiKhoan] ([taikhoan], [matkhau], [MaNhanSu]) VALUES (N'NV001', N'123', N'NV001')
INSERT [dbo].[TaiKhoan] ([taikhoan], [matkhau], [MaNhanSu]) VALUES (N'NV011', N'456', N'NV011')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanSu__A9D105340C764FBD]    Script Date: 23/05/2025 8:41:19 CH ******/
ALTER TABLE [dbo].[NhanSu] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTiecDatTiec]  WITH CHECK ADD FOREIGN KEY([maCB])
REFERENCES [dbo].[ComboMonAn] ([maCB])
GO
ALTER TABLE [dbo].[ChiTiecDatTiec]  WITH CHECK ADD FOREIGN KEY([maDT])
REFERENCES [dbo].[DatTiec] ([maDT])
GO
ALTER TABLE [dbo].[ChiTiecDatTiec]  WITH CHECK ADD FOREIGN KEY([maMA])
REFERENCES [dbo].[MonAn] ([maMA])
GO
ALTER TABLE [dbo].[ChiTietCombo]  WITH CHECK ADD FOREIGN KEY([maCB])
REFERENCES [dbo].[ComboMonAn] ([maCB])
GO
ALTER TABLE [dbo].[ChiTietCombo]  WITH CHECK ADD FOREIGN KEY([maMA])
REFERENCES [dbo].[MonAn] ([maMA])
GO
ALTER TABLE [dbo].[ChiTietDatDichVu]  WITH CHECK ADD FOREIGN KEY([maDT])
REFERENCES [dbo].[DatTiec] ([maDT])
GO
ALTER TABLE [dbo].[ChiTietDatDichVu]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[DichVu] ([maDV])
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD FOREIGN KEY([maDP])
REFERENCES [dbo].[DatPhong] ([maDP])
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD FOREIGN KEY([maLH])
REFERENCES [dbo].[LoaiHinhLuuTru] ([maLH])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MaNhanSu])
REFERENCES [dbo].[NhanSu] ([MaNhanSu])
GO
ALTER TABLE [dbo].[DatTiec]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatTiec]  WITH CHECK ADD FOREIGN KEY([MaNhanSu])
REFERENCES [dbo].[NhanSu] ([MaNhanSu])
GO
ALTER TABLE [dbo].[DatTiec]  WITH CHECK ADD FOREIGN KEY([maS])
REFERENCES [dbo].[SanhDatTiec] ([maS])
GO
ALTER TABLE [dbo].[HoaDonDatPhong]  WITH CHECK ADD FOREIGN KEY([maCTDP])
REFERENCES [dbo].[ChiTietDatPhong] ([maCTDP])
GO
ALTER TABLE [dbo].[HoaDonDatPhong]  WITH CHECK ADD FOREIGN KEY([MaNhanSu])
REFERENCES [dbo].[NhanSu] ([MaNhanSu])
GO
ALTER TABLE [dbo].[HoaDonDatPhong]  WITH CHECK ADD FOREIGN KEY([maSDDV])
REFERENCES [dbo].[SuDungDichVu] ([maSDDV])
GO
ALTER TABLE [dbo].[HoaDonDatTiec]  WITH CHECK ADD FOREIGN KEY([MaNhanSu])
REFERENCES [dbo].[NhanSu] ([MaNhanSu])
GO
ALTER TABLE [dbo].[HoaDonDatTiec]  WITH CHECK ADD FOREIGN KEY([maDT])
REFERENCES [dbo].[DatTiec] ([maDT])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([maLMA])
REFERENCES [dbo].[LoaiMonAn] ([maLMA])
GO
ALTER TABLE [dbo].[NhanSu]  WITH CHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD FOREIGN KEY([maCTDP])
REFERENCES [dbo].[ChiTietDatPhong] ([maCTDP])
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[DichVu] ([maDV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNhanSu])
REFERENCES [dbo].[NhanSu] ([MaNhanSu])
GO
/****** Object:  StoredProcedure [dbo].[DSDatTiecTheoNam]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSDatTiecTheoNam]
    @SearchYear INT
AS
BEGIN
    SELECT 
        DT.maDT,
        KH.MaKH,
        KH.TenKH,
        DT.maS,
        DT.ngayDT,
        DT.ngayBatDau,
        DT.ngayKetThuc,
        DT.tongTien,
        DT.giaTriDC,
        DT.ghiChu,
        DT.MaNhanSu
    FROM DatTiec DT
    JOIN KhachHang KH ON DT.MaKH = KH.MaKH
    WHERE YEAR(DT.ngayDT) = @SearchYear
    ORDER BY DT.ngayDT;
END;
GO
/****** Object:  StoredProcedure [dbo].[DSDatTiecTheoNgay]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSDatTiecTheoNgay]
    @SearchDate DATE
AS
BEGIN
    SELECT 
        DT.maDT,
        KH.MaKH,
        KH.TenKH,
        DT.maS,
        DT.ngayDT,
        DT.ngayBatDau,
        DT.ngayKetThuc,
        DT.tongTien,
        DT.giaTriDC,
        DT.ghiChu,
        DT.MaNhanSu
    FROM DatTiec DT
    JOIN KhachHang KH ON DT.MaKH = KH.MaKH
    WHERE DT.ngayDT = @SearchDate
    ORDER BY DT.ngayDT;
END;
GO
/****** Object:  StoredProcedure [dbo].[DSDatTiecTheoThang]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSDatTiecTheoThang]
    @Year INT,
    @Month INT
AS
BEGIN
    SELECT 
        DT.maDT,
        KH.MaKH,
        KH.TenKH,
        DT.maS,
        DT.ngayDT,
        DT.ngayBatDau,
        DT.ngayKetThuc,
        DT.tongTien,
        DT.giaTriDC,
        DT.ghiChu,
        DT.MaNhanSu
    FROM DatTiec DT
    JOIN KhachHang KH ON DT.MaKH = KH.MaKH
    WHERE YEAR(DT.ngayDT) = @Year AND MONTH(DT.ngayDT) = @Month
    ORDER BY DT.ngayDT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDichVu_TheoNam]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeDichVu_TheoNam]
    @nam INT
AS
BEGIN
    -- Danh sách dịch vụ theo năm
    SELECT 
        dv.tenDV,
        SUM(sddv.soLuong) AS TongSoLanSuDung,
        SUM(sddv.tongTien) AS TongTien
    FROM SuDungDichVu sddv
    JOIN ChiTietDatPhong ctdp ON sddv.maCTDP = ctdp.maCTDP
    JOIN DichVu dv ON sddv.maDV = dv.maDV
    WHERE YEAR(ctdp.ngayTraPhong) = @nam
    GROUP BY dv.tenDV
    ORDER BY TongSoLanSuDung DESC;

    -- Tổng tiền tất cả dịch vụ trong năm
    SELECT 
        'Tổng cộng' AS tenDV,
        SUM(sddv.soLuong) AS TongSoLanSuDung,
        SUM(sddv.tongTien) AS TongTien
    FROM SuDungDichVu sddv
    JOIN ChiTietDatPhong ctdp ON sddv.maCTDP = ctdp.maCTDP
    WHERE YEAR(ctdp.ngayTraPhong) = @nam;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDichVu_TheoThang]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeDichVu_TheoThang]
    @thang INT,
    @nam INT
AS
BEGIN
    -- Danh sách dịch vụ theo tháng và năm
    SELECT 
        dv.tenDV,
        SUM(sddv.soLuong) AS TongSoLanSuDung,
        SUM(sddv.tongTien) AS TongTien
    FROM SuDungDichVu sddv
    JOIN ChiTietDatPhong ctdp ON sddv.maCTDP = ctdp.maCTDP
    JOIN DichVu dv ON sddv.maDV = dv.maDV
    WHERE MONTH(ctdp.ngayTraPhong) = @thang
      AND YEAR(ctdp.ngayTraPhong) = @nam
    GROUP BY dv.tenDV
    ORDER BY TongSoLanSuDung DESC;

    -- Tổng tiền tất cả dịch vụ trong tháng
    SELECT 
        'Tổng cộng' AS tenDV,
        SUM(sddv.soLuong) AS TongSoLanSuDung,
        SUM(sddv.tongTien) AS TongTien
    FROM SuDungDichVu sddv
    JOIN ChiTietDatPhong ctdp ON sddv.maCTDP = ctdp.maCTDP
    WHERE MONTH(ctdp.ngayTraPhong) = @thang
      AND YEAR(ctdp.ngayTraPhong) = @nam;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimChiTietDatPhongTheoTenLH]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimChiTietDatPhongTheoTenLH]
    @tenLH VARCHAR(50)
AS
BEGIN
    SELECT 
        ctdp.maCTDP,
        ctdp.maDP,
        ctdp.maLH,
        lhlt.tenLH,
        lhlt.loaiHinh,
        ctdp.ngayTraPhong
    FROM 
        ChiTietDatPhong ctdp
    JOIN 
        LoaiHinhLuuTru lhlt ON ctdp.maLH = lhlt.maLH
    WHERE 
        lhlt.tenLH LIKE '%' + @tenLH + '%'
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemLoaiHinhLuuTru]    Script Date: 23/05/2025 8:41:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemLoaiHinhLuuTru]
    @tenLH NVARCHAR(5)
AS
BEGIN
    SELECT *
    FROM LoaiHinhLuuTru
    WHERE tenLH = @tenLH;
END;
GO
USE [master]
GO
